coloredlogs==15.0.1
rich==13.3.2
numpy==1.24.2
bitarray==2.7.3
filelock==3.9.1
toolz==0.12.0
watchdog==2.3.1
typed-argument-parser==1.8.0
cgroupspy==0.2.2
psutil==5.9.4
peewee==3.16.0
matplotlib==3.7.1
natsort==8.3.1
numpy==1.24.2
pandas==1.5.3
seaborn==0.12.2
